* {
    /*font-family: "Verdana", Times, serif;*/
    font-family: tahoma;
    font-size: 14px;
    /*padding: 0px;*/
    /*margin: 0px;*/
}

.sl-button {
    padding: 5px;
    color: white;
    background-color: dodgerblue;
    font-size: 16px;
    font-weight: bold;
}

.sl-button.disabled {
    color: black;
    background-color: gray;
}
